#app form {

}

#app fieldset {
	vertical-align: top;
	display: inline-block;
	min-height: 3em;
}

#app label, #app input {
	display: inline;
}

#app input[type=range] {
	width: 10em;
}

#game.mini .cell {
	margin: 0;
	height: 4px;
	width: 4px;	
}

#game.mini .row {
	height: 4px;
}

#game .cell {
	border: thin solid black;
	margin: 0.25px;
	height: 9px;
	width: 9px;
	display: inline-block;
	background: black;
}

#game .row {
	padding: 0;
	margin: 0;
	height: 9.5px;
	background: white;
}

#game .on {
	background: white;
}


