

#controller fieldset {
	vertical-align: top;
	display: inline-block;
	min-height: 3em;
}

#controller label, #controller input {
	display: inline;
}

#controller input[type=range] {
	width: 10em;
}

#controller .form-group {
	border-radius: 0.5em;
	padding: 0.5em;
}

#controller .form-group.disabled {
	background: #ddd;
}

#grid.mini .cell {
	margin: 0;
	height: 4px;
	width: 4px;	
}

#grid.mini .row {
	height: 4px;
}

#grid .cell {
	border: thin solid black;
	margin: 0.25px;
	height: 9px;
	width: 9px;
	display: inline-block;
	background: black;
}

#grid .row {
	padding: 0;
	margin: 0;
	height: 9.5px;
	background: white;
}

#grid .active {
	background: white;
}


